@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&family=Workbench&display=swap");

:root {
  --text-base-size: 20px;
  --gaps: calc(3vw + (var(--text-base-size) / 2));
  --fields-width: 15vw;
  background-color: #ed7b7b;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0px;
}

main {
  display: flex;
  gap: var(--gaps);
}

section.img-left {
  width: 40vw;
  height: 100vh;
  background-image: url(../static/images/fulvio-ciccolo-BU46fEYMbsQ-unsplash.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 5vh;
}

.main-content {
  width: 60vw;
  display: flex;
  flex-direction: column;
  gap: calc(var(--gaps) / 5);
  margin-top: 5vh;
}

.main-content > div:nth-child(-n + 4) {
  line-height: 1.2;
  font-size: calc(var(--text-base-size) + 2px);
  width: 35vw;
}

.main-content > * {
  font-size: var(--text-base-size);
}

form {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  /* background-color: #e8a0bf; */
  background-color: #7a3955;
  margin-left: calc(-1 * var(--gaps));
  margin-top: 40px;
  padding-left: var(--gaps);
  position: relative;
  color: #f6f6f6;
  border-top: 4px solid purple;
}

.fieldset {
  display: flex;
  flex-wrap: wrap;
  gap: 7vw;
  margin-bottom: 20px;
  flex: 1;
  width: 40vw;
}

legend {
  margin: 20px 0px;
  margin-bottom: 30px;
  font-family: "Workbench", sans-serif;
  font-size: larger;
}

label {
  display: block;
  font-size: smaller;
}

input {
  border: none;
  width: var(--fields-width);
  height: 25px;
  border-radius: 5px;
}

button {
  width: calc(var(--fields-width) - 1vh);
  height: 50px;
  border-radius: 10px;
  border: none;
  position: absolute;
  bottom: -8vh;
  font-size: inherit;
  background-color: #53d397;
  color: #f7f9ff;
  font-weight: bold;
}

.login-ask {
  position: relative;
}

.login-ask > p {
  position: absolute;
  bottom: -140px;
}

p > a {
  text-decoration: none;
  color: #32805c;
  font-weight: bold;
}

svg {
  opacity: 0.8;
  background-color: #7a3955;
  flex: 1;
}

#flash-desribe {
    position: absolute;
    top: 2px;
    color:#f6f6f6;
    user-select: none;
    -webkit-user-select: none;
    font-family: "Roboto", sans-serif;
    background-color: #53d397;
    
}