@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&family=Workbench&display=swap');

:root {
  --text-base-size: 20px;
  --gaps: calc(3vw + (var(--text-base-size) / 2));
  --fields-width: 15vw;
  background-color: rgb(213, 222, 220);	
  color: 030637;
  font-family: "Roboto", sans-serif;
}

body {
    margin: 0px;
}

main {
  display: flex;
  gap: var(--gaps);
}

section.img-left {
  width: 40vw;
  height: 100vh;
  background-image: url(../static/images/fulvio-ciccolo-BU46fEYMbsQ-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gaps) / 5);
  margin-top: 5vh;
}

.main-content > div:nth-child(-n+4) {
    line-height: 1.2;
    font-size: calc(var(--text-base-size) + 5px);
}

.main-content > * {
  width: 35vw;
  font-size: var(--text-base-size);
}

form {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
}

.fieldset {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

legend {
    margin: 10px 0px;
    font-family: "Workbench", sans-serif;
}

label {
  display: block;
}

input {
  width: var(--fields-width);
}

button {
    width: calc(var(--fields-width) - 4vw);
    height: 40px;
    border-radius: 10px;
    border: none;
    
}
